{% load static %}
{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}
<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link href="{% static "/css/base.css" %}" rel="stylesheet">
    </head>
    
    <body>
        
        <div id="header">
            <a href="{% url "index" %}"><span class="logo">Stockify</span></a>
                {% if request.user.is_authenticated %}
                    <ul class="menu">
                        <li {% if section == "dashboard" %}class="selected"{% endif %}>
                            <a href="{% url "dashboard" %}">My dashboard</a>
                        </li>
                        <li {% if section == "stocks" %}class="selected"{% endif %}>
                            <a href="{% url "stock" %}">Stocks</a>
                        </li>
                        <li {% if section == "News" %}class="selected"{% endif %}>
                            <a href="{% url "post_list" %}">News</a>
                        </li>
                        <li {% if section == "About" %}class="selected"{% endif %}>
                            <a href="{% url "about"  %}">About</a>
                        </li>
                    </ul>
                {% endif %}
                
            <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <!-- In your template (e.g., base.html) -->
                <form action="{% url 'logged_out' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button> 
                </form>
            {% else %}
            <a href="{% url "login" %}">Log-in</a>
                 
            {% endif %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">x</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            </span>
        </div>
           
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>