{% extends "base.html" %}
{% block title %}Edit your account details{% endblock %}
{% block content %}
    <h1>Edit your account details</h1>
    <p>Change your password <a href = "{% url "password_change" %}"> here </a> </p>
    <p>You can edit your account details using the following forms:</p>
    <form method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
{% endblock %}